<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="1.5.23.2" targetFramework="net45" />
  <package id="EnyimMemcached" version="2.12" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net45" />
</packages>